# Ignore build artifacts when using nix
/gomod2nix-template
result
.direnv/

# ignore goreleaser artifacts
dist/

# ignore built binary from `go build .`
mediasorter

# Ignore artifacts from the bullshit machine
.aider*

# Ignore output files (e.g. coverage reports)
*.out
